[submodule "src/libdriver"]
	path = src/libdriver
	url = https://github.com/mkschreder/libdriver.git
[submodule "src/libfdt"]
	path = src/libfdt
	url = https://github.com/mkschreder/libfdt.git
[submodule "src/libfirmware"]
	path = src/libfirmware
	url = https://github.com/mkschreder/libfirmware.git
[submodule "src/libcanopen"]
	path = src/libcanopen
	url = https://github.com/mkschreder/libcanopen.git
[submodule "src/bossinit"]
	path = src/bossinit
	url = https://github.com/mkschreder/bossinit.git
